<template>
    <require from='../components/ReadingTime'></require>
    <require from='../components/Share'></require>
    <require from='../components/Disqus'></require>
    <require from='../infrastructure/DateValueConverter'></require>
    <require from='../infrastructure/TagUrlValueConverter'></require>
    <require from='../infrastructure/TagTitleValueConverter'></require>
    <require from='../infrastructure/TruncateValueConverter'></require>

    <article class="hentry">
        <header>
            <div class="entry-meta">
                <span class="entry-date date published updated">
                    <time datetime.bind="postData.publishDate">
                        <a href.bind="postData.pageLink">${postData.publishDate | date}</a>
                    </time>
                </span>
                <span class="author vcard">
                    <span class="fn">
                        <a href="/about" title.bind="postData.owner">${postData.owner}</a>
                    </span>
                </span>
                <reading-time page-content.bind="postData.pageContent"></reading-time>
            </div>
            <h1 class="entry-title">
                <a href.bind="postData.pageLink" rel="bookmark" title.bind="postData.title" itemprop="url">${postData.title}</a>
            </h1>
        </header>

        <div class="entry-content">
            <div innerHTML.bind="postData.pageContent | truncate: 300: !showComments: postData.absoluteUrl"></div>
            <footer class="entry-meta">
                <span class="entry-tags">
                    <a repeat.for="tag of postData.tags" href.bind="tag | tagUrl" title.bind="tag | tagTitle" class="tag">
                        <span class="term">${tag}</span>
                    </a>
                </span>
                <div if.bind="postData.lastModified">
                    <span>Updated on
                        <span class="entry-date date published updated">
                            <time datetime.bind="postData.lastModified">${postData.lastModified | date}</time>
                        </span>
                    </span>
                    <span class="author vcard"><span class="fn">${postData.owner}</span></span>
                </div>
                <div if.bind="postData.share">
                    <share
                        page-url.bind="postData.absoluteUrl">
                    </share>
                </div>
            </footer>
        </div>


    </article>

    <article if.bind="showComments">
        <disqus post-link.bind="postData.absoluteUrl"></disqus>
    </article>
</template>