<template>
    <require from='../infrastructure/ShareValueConverter'></require>

    <div class="social-share">
        <ul class="socialcount socialcount-small inline-list">
            <li class="facebook">
                <a href.bind="pageUrl | share:'facebook'" title="Share on Facebook" target="_blank">
                    <span class="count">
                        <i class="fa fa-facebook-square"></i> Like
                    </span>
                </a>
            </li>
            <li class="twitter">
                <a href.bind="pageUrl | share:'twitter'" title="Share on Twitter" target="_blank">
                    <span class="count">
                        <i class="fa fa-twitter-square"></i> Tweet
                    </span>
                </a>
            </li>
            <li class="googleplus">
                <a href.bind="pageUrl | share:'googleplus'" title="Share on Google Plus" target="_blank">
                    <span class="count">
                        <i class="fa fa-google-plus-square"></i> +1
                    </span>
                </a>
            </li>
        </ul>
    </div>
</template>
