<template>
    <require from='../../components/SiteHeader'></require>

    <site-header
            page-title.bind="title"
            image-url.bind="imageUrl">
    </site-header>

    <div id="home-page">
        <div id="main" role="main">
            <div class="picture-container">
                <img src="content/images/avatar.jpg" alt="Christian Kotzbauer" class="author-photo">
            </div>
            <div class="info-container">
                <div class="space"></div>
                <h1>Christian Kotzbauer</h1>
                <p class="vita">Web Developer working with TypeScript </br>and Aurelia. Interested in Node.js, Security, Docker and Kubernetes.</p>

                <div style="margin-bottom: 15px;">
                    <span class="pill">JavaScript</span>
                    <span class="pill">TypeScript</span>
                    <span class="pill">Aurelia</span>
                    <span class="pill">Webpack</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <span class="pill">Single-Page Applications</span>
                    <span class="pill">Web-Development</span>
                    <span class="pill">Node.js</span>
                </div>
                <div>
                    <span class="pill">Docker</span>
                    <span class="pill">Kubernetes</span>
                    <span class="pill">C#</span>
                </div>

                <div class="contact">
                    <a href="mailto:christian.kotzbauer@gmail.com"><i class="fa fa-fw fa-envelope"></i></a>
                    <a href="https://github.com/ckotzbauer" target="_blank"><i class="fa fa-fw fa-github"></i></a>
                    <a href="https://twitter.com/ckotzbauer1" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                    <a href="https://www.xing.com/profile/Christian_Kotzbauer2" target="_blank"><i class="fa fa-fw fa-xing"></i></a>
                </div>
            </div>

            <div class="projects">
                <h2>Projects</h2>
                <ul>
                    <li>
                        <div>
                            <h2><a href="https://github.com/aurelia-contrib/aurelia-knockout" target="_blank">aurelia-knockout</a></h2>
                            <span>Aurelia plugin that enables the Usage of Knockout Bindings alongside with Aurelia.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2>
                                <a href="https://github.com/ckotzbauer/extended-listbox" target="_blank">extended-listbox</a>
                            </h2>
                            <span>A simple to use javascript component as powerful alternative to the HTML select-tag.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2><a href="https://github.com/ckotzbauer/node-task-runner" target="_blank">node-task-runner</a></h2>
                            <span>A promise-based dependency-free task runner for Node.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2><a href="https://github.com/ckotzbauer/cache-bust-loader" target="_blank">cache-bust-loader</a></h2>
                            <span>Webpack-Loader to enable Cache-Busting with Query-Parameters.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2><a href="https://github.com/ckotzbauer/lodash-loader" target="_blank">lodash-loader</a></h2>
                            <span>Webpack-Loader which cherry-picks Lodash functions and require them explicitly to reduce the bundle size.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2><a href="https://github.com/ckotzbauer/n26-api" target="_blank">n26-api</a></h2>
                            <span>Just another api-client for the N26 Bank.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2><a href="https://github.com/ckotzbauer/k8spolicy" target="_blank">k8spolicy</a></h2>
                            <span>Check K8s yaml-files and helm-charts with rego policies.</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h2><a href="https://github.com/ckotzbauer/helm-diff-upgrade" target="_blank">helm-diff-upgrade</a></h2>
                            <span>Upgrade helm releases with a preview diff.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
